.for{
    gap: 50px;
    padding: 0;
    background-color: gray;
}
.foryou{
    background-color: brown;
    color: white;
}
.you{
    background-color:darkred;
    color: white;
    margin-top: 20px;
}
.youfor{
    color: blue;

}
.read{
    background-color: aqua;
    font-size: 20px;
}
.read1{
    background-color: aqua;
    font-size: 20px;
}